In [9]:
from psqlparse import parse_dict, parse

a = parse_dict('select count(*) from test.test as t where c>1 and b > 2 group by c order by a limit 10')[0]

In [10]:
!pip install sqlparse

Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 kB 264.5 kB/s eta 0:00:0000:0100:01
Installing collected packages: sqlparse
Successfully installed sqlparse-0.4.4

In [8]:
import sqlparse
query = 'Select a, col_2 as b from Table_A;'
list(sqlparse.parse(query)[0].flatten())

[<DML 'Select' at 0x7FDA6C34EF80>,
 <Whitespace ' ' at 0x7FDA6C34F6A0>,
 <Name 'a' at 0x7FDA6C34F820>,
 <Punctuation ',' at 0x7FDA6C34F8E0>,
 <Whitespace ' ' at 0x7FDA6C34F880>,
 <Name 'col_2' at 0x7FDA6C34F940>,
 <Whitespace ' ' at 0x7FDA6C34FA00>,
 <Keyword 'as' at 0x7FDA6C34FA60>,
 <Whitespace ' ' at 0x7FDA6C34FAC0>,
 <Name 'b' at 0x7FDA6C34FB20>,
 <Whitespace ' ' at 0x7FDA6C34FB80>,
 <Keyword 'from' at 0x7FDA6C34FBE0>,
 <Whitespace ' ' at 0x7FDA6C34FC40>,
 <Name 'Table_A' at 0x7FDA6C34FCA0>,
 <Punctuation ';' at 0x7FDA6C34FD00>]